.active{
  color:black;
  text-decoration: underline !important;
}
a{
  text-decoration: none !important;
  font-size: 20px;
  font-family: fantasy;
}

h1 {
  font-family: "Expletus Sans", cursive;
}
th{
  color: blue;
  width: 120px;
}  
td {
  font-size: 1.2em;
  color: #252525;
  height: 70px;

}
#spot-image:hover{
  height: 400px;
}
.scroll{
  width: 100%;
  height: 75px;
  margin: 0;
  padding: 0;
  overflow:auto;
}
.divTH{
  font-weight: bold;
  width:115px;
}.divTD{
  width: 115px;
}